{
	"name": {{cluster.name}},
	"description": {{cluster.description}},
	"vxnet": {{cluster.vxnet}},
	"links": {
        "external_service_openpitrix-db":{{cluster.external_service_openpitrix-db}},            
        "external_service_openpitrix-etcd":{{cluster.external_service_openpitrix-etcd}}            
    },
	"nodes": [{
		"role": "openpitrix-category-manager",
		"container": {
			"type": "kvm",
			"image": "img-porrxz1n",
			"zone": "ap2a"
		},
		"count": {{cluster.openpitrix-category-manager.count}},
		"cpu": {{cluster.openpitrix-category-manager.cpu}},
		"memory": {{cluster.openpitrix-category-manager.memory}},
		"instance_class": {{cluster.openpitrix-category-manager.instance_class}},
		"volume": {
			"size": {{cluster.openpitrix-category-manager.volume_size}}
		},
		"services": {
			"init": {
				"cmd": "USER=root /opt/category-manager/init.sh",
				"timeout": 600
			}, 
			"start": {
				"cmd": "USER=root /opt/category-manager/start.sh",
				"timeout": 600
			},
			"stop": {
				"cmd": "docker stop openpitrix-category-manager",
				"timeout": 600
			},
			"restart": {
				"cmd": "docker restart openpitrix-category-manager",
				"timeout": 600
			},
			"destroy": {
				"cmd": "docker rm -f openpitrix-category-manager",
				"timeout": 600
			}
		}
	}],
	"env": {
		"openpitrix_log_level": {{env.openpitrix_log_level}},
		"openpitrix_grpc_show_error_cause": {{env.openpitrix_grpc_show_error_cause}},
		"category_manager_port": {{env.category_manager_port}}
	}
}