
LINK_ID="external_service"
ROLE="openpitrix-db"

{{range $instance_id := lsdir (printf "/links/%s/hosts/%s/" $LINK_ID $ROLE)}}
INSTANCE_ID={{$instance_id}}
{{end}}


DB_IP={{getv "/links/$LINK_ID/hosts/$ROLE/$INSTANCE_ID/ip"}}
DB_HOST=$ROLE
