#!/usr/bin/env bash

LINK_ID="external_service"
ROLE="openpitrix-db"

{{range $instance_id := lsdir (printf "/links/%s/hosts/%s/" $LINK_ID $ROLE)}}
INSTANCE_ID={{$instance_id}}
{{end}}


DB_IP={{getv "/links/$LINK_ID/hosts/$ROLE/$INSTANCE_ID/ip"}}
DB_HOST=$ROLE

echo "${DB_IP}	${DB_HOST}" > /opt/app-manager/link-host
cat /opt/app-manager/hosts/origin-hosts /opt/app-manager/link-host > /etc/hosts

CONTAINER_NAME="openpitrix-app-manager"
docker exec -it $CONTAINER_NAME update-container-hosts.sh $DB_IP $DB_HOST